body{
    text-align: center;
	text-shadow: 0px 0px 10px #fff;
    background-size: cover;
	background-repeat: no-repeat;
}

div#divRunningMan{
	width: 120px;
	height: 120px;
	position:relative;
	left:50%;
	margin-top:10px;
	margin-left:-60px;
}

div#direction{
	font-size: 18px;
	width: 180px;
	height: 20px;
	position:relative;
	left:50%;
	margin-top:10px;
	margin-left:-90px;
}

div#bottomDiv{
	text-shadow: 0px 0px 10px #fff;
    margin-top:50px;
}

select#eventSelect{
    width:25%;
}